<html>
    <head>
        <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="cv_print_stylesheet.css" media="print" />
    </head>
    <body>
        <div>
            <div class="contact_info" style="float:left;">
                <div style="color: #356635"><strong>{{ user.firstname }} {{ user.lastname }}</strong> </div>
                <div><strong style="color: #356635">Birthdate:</strong> {{ user.birthdate|date("d/m/Y") }}</div>
                <div><strong style="color: #356635">Email:</strong> {{ user.email }}</div>
                <div><strong style="color: #356635">Mobile Phone:</strong> {{ user.cellphone }}</div>
                <div><strong style="color: #356635">Phone:</strong> {{ user.phone }}</div>
                <div><strong style="color: #356635">Address:</strong>
                    <div>{{ user.street }}</div>
                    <div>{{ user.city }} {{ user.zipcode }}</div>
                    <div>{{ user.country }}</div>
                </div>
            </div>
                <div align="right">
                <img style="border: 2px solid yellowgreen;" src="http://{{ app.request.host }}{{ qrcode_url(
                    'http://' ~ app.request.host  ~ path('show_profile', { 'id': user.id })
                )}}" />
            </div>
        </div>
        <h2>Skills</h2>
        <hr style="border-color: yellowgreen">
        <div class="skills">
            {% for skill in user.skills %}
                <div style="float:left; margin: 15px">
                    <span style="font-size: 15pt" class="label label-info">{{ skill.libel }}</span>
                </div>
            {% endfor %}
        </div>
        <h2>Languages</h2>
        <hr style="border-color: yellowgreen">
        <div class="languages">
            {% for lang in user.langLevels %}
                <div>{{ lang.lang.libel }} :
                {% for i in 1..lang.level %}
                 <span style="color: #356635">★</span>
                {% endfor %}</div>
            {% endfor %}
        </div>
        <h2>Experiences</h2>
        <hr style="border-color: yellowgreen">
        <div class="experiences">
            {% for experience in user.experiences %}
                <div >
                    <div style="border: 1px solid green; padding:12px 0 12px 15px; background-color: yellowgreen">{{  experience.startDate|date("Y") }} - {{  experience.endDate|date("Y") }}</div>
                    <div style="padding: 15px 0 5px 15px;  border: 1px solid #356635">
                        <div><strong>{{ experience.what }} ({{ experience.place }})</strong></div>
                        <div><p>{{ experience.content }}</p></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h2>Websites</h2>
        <hr style="border-color: yellowgreen">
        <div class="websites">
            {% for website in user.websites %}
                <div><strong>{{website.title}}:</strong> {{website.url}}</div>
            {% endfor %}
        </div>
        <h2>Other Informations</h2>
        <hr style="border-color: yellowgreen">
        <div class="other">
            {{ user.others }}
        </div>
    </body>
</html>